name: CI

on:
  push:
    branches: [main]
    tags: ["v*"]
  pull_request:
    branches: ["*"]

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      # https://docs.npmjs.com/generating-provenance-statements#publishing-packages-with-provenance-via-github-actions
      id-token: write

    steps:
      - uses: actions/checkout@v6

      - run: corepack enable
      - uses: actions/setup-node@v6
        with:
          node-version: 24.x
          registry-url: https://registry.npmjs.org
          cache: yarn

      - run: yarn install --immutable

      - run: yarn run typecheck
      - run: yarn run lint:ci
      - run: yarn run build
      - run: yarn run test

      - run: yarn pack
      - name: Publish to NPM
        if: ${{ startsWith(github.ref, 'refs/tags/v') }}
        run: npx npm@11.7.0 publish package.tgz --provenance --access public

  storybook:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      deployments: write
    steps:
      - uses: actions/checkout@v6

      - run: corepack enable
      - uses: actions/setup-node@v6
        with:
          node-version: 24.x
          registry-url: https://registry.npmjs.org
          cache: yarn

      - run: yarn install --immutable
      - run: yarn build-storybook

      - name: Deploy Storybook
        uses: cloudflare/wrangler-action@v3
        # Only run if not a fork, since we do not have
        # access to secrets in these environments.
        if: ${{ !github.event.pull_request.head.repo.fork }}
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          command: pages deploy storybook-static --project-name=foxglove-three-text-storybook
          gitHubToken: ${{ secrets.GITHUB_TOKEN }}
