name: CI

on:
  push:
    branches: [main]
    tags: ["v*"]
  pull_request:
    branches: ["*"]

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      # https://docs.npmjs.com/generating-provenance-statements#publishing-packages-with-provenance-via-github-actions
      id-token: write

    steps:
      - uses: actions/checkout@v4

      - run: corepack enable
      - uses: actions/setup-node@v4
        with:
          node-version: 22.x
          registry-url: https://registry.npmjs.org
          cache: yarn

      - run: yarn install --immutable

      - run: yarn run build
      - run: yarn run lint:ci
      - run: yarn run test

      - run: yarn pack
      - name: Publish to NPM
        if: ${{ startsWith(github.ref, 'refs/tags/v') }}
        # `yarn npm publish` does not currently support --provenance: https://github.com/yarnpkg/berry/issues/5430
        run: npm publish package.tgz --provenance --access public
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_PUBLISH_TOKEN }}

  chromatic:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0 # Required for Chromatic

      - run: corepack enable
      - uses: actions/setup-node@v4
        with:
          node-version: 22.x
          registry-url: https://registry.npmjs.org
          cache: yarn

      - run: yarn install --immutable

      # Chromatic only runs on pushes or pulls to our source repo
      - name: Publish to Chromatic
        uses: chromaui/action@v1
        if: ${{ github.event.repository.full_name == 'foxglove/three-text' }}
        with:
          projectToken: de34ab810be0
          autoAcceptChanges: main
          exitOnceUploaded: true
