name: CI

on:
  push:
    branches: [main]
    tags: ["v*"]
  pull_request:
    branches: ["*"]

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      # https://docs.npmjs.com/generating-provenance-statements#publishing-packages-with-provenance-via-github-actions
      id-token: write

    steps:
      - uses: actions/checkout@v6

      - run: corepack enable
      - uses: actions/setup-node@v6
        with:
          node-version: 24.x
          registry-url: https://registry.npmjs.org
          cache: yarn

      - run: yarn install --immutable

      - run: yarn run typecheck
      - run: yarn run lint:ci
      - run: yarn run build
      - run: yarn run test

      - run: yarn pack
      - name: Publish to NPM
        if: ${{ startsWith(github.ref, 'refs/tags/v') }}
        # `yarn npm publish` does not currently support --provenance: https://github.com/yarnpkg/berry/issues/5430
        run: npm publish package.tgz --provenance --access public
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_PUBLISH_TOKEN }}

  storybook:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      deployments: write
    steps:
      - uses: actions/checkout@v6

      - run: corepack enable
      - uses: actions/setup-node@v6
        with:
          node-version: 24.x
          registry-url: https://registry.npmjs.org
          cache: yarn

      - run: yarn install --immutable
      - run: yarn build-storybook

      - name: Deploy Storybook
        uses: cloudflare/wrangler-action@v3
        # Only run on pushes or pulls to our source repo
        if: ${{ github.event.repository.full_name == 'foxglove/three-text' }}
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          command: pages deploy storybook-static --project-name=foxglove-three-text-storybook
          gitHubToken: ${{ secrets.GITHUB_TOKEN }}
